<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlets.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alumno</servlet-name>
        <servlet-class>Servlets.Alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Docente</servlet-name>
        <servlet-class>Servlets.Docente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Apoyo</servlet-name>
        <servlet-class>Servlets.Apoyo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctor</servlet-name>
        <servlet-class>Servlets.Doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administrativo</servlet-name>
        <servlet-class>Servlets.Administrativo</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Director</servlet-name>
        <servlet-class>Servlets.Director</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>F</servlet-name>
        <servlet-class>Servlets.F</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dios</servlet-name>
        <servlet-class>Servlets.Dios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Servlets.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Designer</servlet-name>
        <servlet-class>Servlets.Designer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/InicioSesion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Servlets.Registrar</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alumno</servlet-name>
        <url-pattern>/Alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Docente</servlet-name>
        <url-pattern>/Docente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Apoyo</servlet-name>
        <url-pattern>/Apoyo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctor</servlet-name>
        <url-pattern>/Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administrativo</servlet-name>
        <url-pattern>/Administrativo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Director</servlet-name>
        <url-pattern>/Director</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>F</servlet-name>
        <url-pattern>/F</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dios</servlet-name>
        <url-pattern>/Dios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Designer</servlet-name>
        <url-pattern>/Designer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Error.jsp</location>
    </error-page>

</web-app>
